/* colors */

.cvred {
    background-color: #f44336;
}

.cvwhite-text {
    color: #fefffe;
}

/* resume button */

#resume {
    border: 1px solid white;
}

/* background image */

#header-padding {
    padding-top: 30%;
}

.pic-padding {
    margin-bottom: 50px;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/beachball.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-row-custom {
    position: absolute;
    bottom: 50px;
    right: 5%;
}

/* side nav */

/* icons */

.big-hover {
    transition-duration: .3s;
}

.big-hover:hover {
    transform: scale(1.5);
    width: auto;
}

.icon-lrg {
    font-size: 200%;
    margin: 10px;
}

#social-media {
    padding: 20px 0;
}

#linkedin {
    color: #0077B5;
}

#stackoverflow {
    color: #f48024;
}

#github {
    color: #4078c0;
}

/* fix navbar and center bg img */

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width:992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (min-width:992px) {
    header {
        background-position: calc(50% + 150px) 50%;
    }
}

/* profile */

.custom-row {
    margin: 100px 25px;
}

#profile-pic {
    height: 250px;
}

/* technology */

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* cards */

.icon {
    margin-top: 1px;
}

/* contact me */

/* button */

.hover:hover {
    background-color: #f21c0d;
}

/* footer */

.footer-bg {
    padding-bottom: 1px;
}

/* media queries */

@media only screen and (max-width:600px) {
    .flow-text {
        font-size: 99%;
    }

    .small {
        font-size: 300%;
    }

    .impact-small {
        font-size: 90%;
    }

    .tech-row {
        text-align: center;
    }

    .custom-row {
        margin: 100px 0px;
    }

}
